<div class="container">

  <nav class="navbar navbar-default">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <p class="navbar-text" id="text">Dopravo</p>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li *ngIf="!testUser()"><button type="button" id="b" class="btn" (click)="callSignup()">Apply</button></li>
            <div class="row">
            <li *ngIf="testUser()"><button type="button" id="b" class="btn" (click)="logOut()">logout</button></li>  
            </div>
          </ul>

        </div>
      </div>
    </div>
  </nav>
</div>

